<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Artbase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/PrimaryStyles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

</head>
<body class="bg-black text-light">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Artbase</a>
            </div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Post" asp-action="Posts">My Gallery</a>
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Profile" asp-action="UserProfilePage">Profile</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-black bg-black"> <!--changed the background and dark grey doesn't work-->
                <div class="container-fluid">
                    <button class="btn btn-dark mx-1" id="sidebarToggle"><i class="bi bi-list"></i></button>
                    <button class="navbar-toggler mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link text-white mx-1" asp-action="Index" asp-area="" asp-controller="Home">Home</a></li>
                            <li class="nav-item"><a class="nav-link btn btn-dark text-white mx-1" href="#!">Create Upload<i class="bi bi-plus"></i></a></li>
                            <li class="nav-item dropdown mx-1">
                                <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                    <partial name="_LoginPartial" />
                                    @* 

                                    <a class="dropdown-item" href="#!">Something else here</a> *@
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid mx-5 my-5">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>                        
        </div>
    </div>
    <footer class="footer my-1 text-muted">
        <div class="container">
            &copy; 2023 - Artbase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <!-- Core theme JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

