@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Artbase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/PrimaryStyles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

</head>
<body class="bg-black text-light">
    <div class="d-flex align-content-center justify-content-center" id="wrapper">
        <!-- Left Sidebar-->
        <div id="sidebar-wrapper" class="justify-content-center align-content-center" style="width:fit-content; position:fixed; left:0;">
            <div class="sidebar-heading mx-4 justify-content-center align-content-center">
                <h1><a class="MainFont navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Artbase</a></h1>
            </div>
            <div class="list-group list-group-flush nav flex-column">
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Post" asp-action="ViewAllPosts">Dashboard</a>
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Home" asp-action="Index">Home</a>                
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>            
                <footer class="footer text-muted fixed-bottom " style="width:fit-content;">
                    <div class="container" style="width:fit-content;">
                        &copy; 2023 - Artbase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </div>
            <div class="justify-content-center align-content-center mx-sm-0">
                <div class="my-3 mx-xxl-5">
                    <a title="Create Post" asp-action="AddPost" asp-controller="Post" asp-area="" class="btn btn-outline-light mx-2" style="width:fit-content">Create Post <i class="bi bi-pencil"></i></a>
                </div>
            </div>
        </div>
        <!--Blank Div Filler-->
        <div style="min-height:100vh; min-width:250px;">
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <div class="container align-content-center justify-content-center">
                <div class="row align-content-center justify-content-center" style="min-height:75px;">                    
                </div>                
                <div class="row container align-content-center justify-content-center fixed-top" style="min-height:75px; background-color:#000; width:66%; left:18%; right:14%;">
                    <form class="row align-content-center justify-content-center" asp-controller="Profile" asp-action="SearchUser" method="post">
                        <input class="col input-group-md input-group m-3 rounded-pill" placeholder="Search Users..." type="search" style="border-color:#05313d; border-radius:5px; max-width:50%" name="user"/>
                        <button class="btn col col-md-auto btn-outline-light rounded-circle my-auto" style="height:fit-content; width:fit-content;"><i class="bi bi-search"></i></button>
                    </form>
                </div>
                <div class="row container-fluid align-content-center">
                    <main role="main" class="p-xxl-2">
                        @RenderBody()
                    </main>
                </div>
            </div>                                    
        </div>
        <!--Blank Div Filler-->
        <div style="min-height:100vh; min-width:250px;">
        </div>
        <!-- Right Sidebar-->
        <div id="sidebar-wrapper" class="justify-content-center align-content-center" style="width:fit-content; position:fixed; right:0;">          
            <div class="list-group list-group-flush nav flex-column">                
                <div class="accordion">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="list-group-item text-light p-3" id="navbarDropdown" role="button" href="#ListOne" data-bs-toggle="collapse" aria-expanded="false" aria-controls="#ListOne">@UserManager.GetUserName(User)</a>
                    }
                    else
                    {
                        <a class="list-group-item text-light p-3" id="navbarDropdown" role="button" href="#ListOne" data-bs-toggle="collapse" aria-expanded="false" aria-controls="#ListOne"><i class="bi bi-person-fill"></i></a>
                    }
                    <div class="collapse" id="ListOne">
                        <partial name="_LoginPartial" class="text-light" />
                    </div>
                </div>
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Profile" asp-action="UserProfilePage">Profile</a>
                <a class="list-group-item list-group-item-action text-light p-3" asp-area="" asp-controller="Upload" asp-action="ViewAllUploads">My Gallery</a>
                <footer class="footer text-muted fixed-bottom " style="width:fit-content;">
                    <div class="container" style="width:fit-content;">
                        &copy; 2023 - Artbase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </div>
            <div class="justify-content-center align-content-center mx-xl-3">
                <div class="my-3 mx-xxl-5">
                    <a asp-action="AddUpload" asp-controller="Upload" asp-area="" class="btn btn-outline-light mx-2" style="width:fit-content">Upload <i class="bi bi-upload"></i></i></a>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Bootstrap core JS-->
    <!-- Core theme JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/UploadScript.js"></script>
    <script src="~/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

