@model Profile
<div class="container d-flex justify-content-center">
    <div class="card p-3">
        <div class="media">
            <a asp-action="OtherUserProfilePage" asp-area="" asp-controller="Profile" asp-route-id="@Model.UserId"><img src="https://imgur.com/ZnxJ2SY.png" class="mr-3"></a>
            <div class="media-body">
                <a asp-action="OtherUserProfilePage" asp-area="" asp-controller="Profile" asp-route-id="@Model.UserId"><h5 class="mt-1 mb-0">@Model.Name</h5></a>
                <div class="d-flex flex-row justify-content-between align-text-center">
                    <small class="text-muted">@Model.Pronouns</small>
                </div>
            </div>
        </div>
    </div>
</div>
 