@model IEnumerable<Profile>
<div class="text-center mainPage">    
    <div class="container-fluid container align-content-center justify-content-center" style="width:fit-content;">
        <h3 class="row">All profiles</h3>
        @if (Model == null)
        {
            <h2></h2>
        }
        else
        {
            <h3>@TempData["success"]</h3>
            foreach (Profile prof in Model)
            {
                <div class="align-content-center justify-content-center row" style="width:fit-content; height:fit-content;">
                    <partial name="_ProfilePartialView.cshtml" for="@prof" />
                </div>
            }
            <h3>@TempData["Error"]</h3>
        }
    </div>
</div>