@model IEnumerable<Profile>
<div class="text-center">
    <div class="col">
        <div class="row">
            @if (Model == null)
            {
                <h2></h2>
            }
            else
            {
                <h3>@TempData["success"]</h3>
                foreach (Profile prof in Model)
                {
                    <div class="align-content-center justify-content-center p-2">
                        <partial name="_ProfilePartialView.cshtml" for="@prof" />
                    </div>
                }
                <h3>@TempData["Error"]</h3>
            }
        </div>
    </div>
</div>