@model Profile
@{
    ViewData["Title"] = "Edit Profile";
}
<form method="post" asp-controller="Profile" asp-action="EditProfile">
    <div>
        <div class="p-3 mt-2">
            <div class="row pb-2">
                <h2>
                    Edit Profile
                </h2>
                <br />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" style="width: 450px;" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BirthDay"></label>
            <input asp-for="BirthDay" class="form-control" style="width: 450px;" />
            <span asp-validation-for="BirthDay" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Pronouns"></label>
            <input asp-for="Pronouns" class="form-control" style="width: 450px;" />
            <span asp-validation-for="Pronouns" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Bio"></label>
            <input asp-for="Bio" class="form-control" style="width: 450px;" />
            <span asp-validation-for="Bio" class="text-danger"></span>
        </div>
    </div>    
    <button type="submit" class="btn btn-outline-success">Save</button>
    <a class="btn btn-outline-warning" asp-action="UserProfilePage" asp-controller="Profile" asp-area="">Cancel</a>
    <div name="lblMsg" class="text-danger">
        @ViewData["Error"]
    </div>
</form>
