@model Post
@if (Model == null)
{
    <h2></h2>
}
else
{
    <div class="container" style="width:fit-content;">
        <div class="col justify-content-center" style="width:fit-content;">
            @if (Model.Message != null)
            {
                <p style="width:fit-content;" class="mb-4 row">@Model.Message</p>
            }
            else
            {
                <p></p>
            }
            <img src="@Model.ImageUrl" alt="Image Not Loaded Properly" style="width:auto; height:350px;" class="row"/>
        </div>
    </div>
    
}