@model IEnumerable<Post>
<div class="text-center" style="width:fit-content;">
    <div class="col">
        <div class="row">
            @if (Model == null)
            {
                <h2></h2>
            }
            else
            {
                <h3>@TempData["success"]</h3>
                foreach (Post pos in Model)
                {
                    <div class="justify-content-center align-content-center p-2">
                        <partial name="_PostPartialView.cshtml" for="@pos" />
                    </div>

                }
                <h3>@TempData["Error"]</h3>
            }
        </div>
    </div>
</div>
