@using System.Security.Claims;
@using Artbase.Controllers;
@using Artbase.Interfaces;
@using Artbase.Data;

@model Upload
<div class="imgdivcarousel">
    <img class="card-img-top d-block img-set-size" src="data:@Model.fileTypes;base64,@Convert.ToBase64String(Model.fileContent)" alt="@Model.fileUrl">
</div>

