@using System.Security.Claims;
@model Upload
@if (User.FindFirst(ClaimTypes.NameIdentifier)?.Value == Model.UserID)
{<!--You are about to put the add/remove a saved upload to user-->
    <div class="card justify-content-center align-content-center" style="width: 303px;">
        <img class="img-width-wide img-height-tall card-img-top d-block" src="data:@Model.fileTypes;base64,@Convert.ToBase64String(Model.fileContent)" alt="@Model.fileUrl">
        <div class="card-body container justify-content-center align-content-center">
            <div class="row">
                <a class="col btn btn-outline-danger mx-lg-4" style="width:fit-content;" asp-action="DeleteUpload" asp-controller="Upload" asp-route-id="@Model.UploadId"><i class="bi bi-trash3"></i></a>
                <!--Add button for save to user upload-->
            </div>
            
        </div>
    </div>
} else
{
    <div class="card justify-content-center align-content-center" style="width: 303px;">
        <div class="card-body justify-content-center align-content-center">
            <img class="img-width-wide img-height-tall d-block" src="data:@Model.fileTypes;base64,@Convert.ToBase64String(Model.fileContent)" alt="@Model.fileUrl">
        </div>
    </div>
}
