@model FileUpload
@{
    ViewData["Title"] = "Upload File";
}
<form asp-action="AddUpload" asp-controller="Upload" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="File"></label>
        <input asp-for="File" type="file" class="form-control" style="width: 450px;" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary" style="width: 150px;">Upload</button>
    </div>
</form>
<!--<script src="~/js/UploadScript.js"></script>-->