@model IEnumerable<Upload>
<div class="text-center">
    <div class="my-3">
        <div class="col my-3 mx-2">
            @if (Model == null)
            {
                <h2></h2>
            }
            else
            {
                <h3>@TempData["success"]</h3>
                foreach (Upload file in Model)
                {
                    <div class="row my-3 mx-2 justify-content-left">
                        <partial name="_UploadPartialView.cshtml" for="@file" />
                    </div>

                }
                <h3>@TempData["Error"]</h3>
            }
        </div>
    </div>
</div>